<!--  file-search.component.html -->

<div class="container-md">

  <div>
    <mat-form-field appearance="fill">
      <mat-label for="dir">Directory:</mat-label>
      <input matInput id="dir" [(ngModel)]="searchData.dir" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label for="filter">Filter:</mat-label>
      <input matInput id="filter" [(ngModel)]="searchData.filter" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label for="ext">Extension Opcional:</mat-label>
      <input matInput id="ext" [(ngModel)]="searchData.ext" />
    </mat-form-field>
  </div>


  <button mat-fab extended color="primary" (click)="searchFiles()">Buscar archivos</button>


  <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>

  <div class="mt-5" *ngIf="noResults">
    <strong>No hay coincidencia, intenta en otra carpeta</strong>
  </div>

  <div>
    <h3>Historial de búsqueda</h3>
    <ul>
      <li *ngFor="let search of getFullHistory()">
        {{search}}
      </li>
    </ul>
  </div>

  <div *ngIf="searchResults.length > 0" class="result-container">
    <h3 class="mt-5">Resultados</h3>
    <p>Archivos totales: {{totalFiles}}, Ocurrencias totales: {{totalOccurrences}}</p>

    <mat-form-field class="example-chip-list">
      <mat-label>Extensiones existentes</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter exts">

        <mat-chip-row *ngFor="let ext of extensionChips; let i = index" (removed)="remove(ext)" [editable]="true"
          (edited)="edit(ext, $event)" [aria-description]="'press enter to edit ' + ext">
          {{ext}}
          <button matChipRemove [attr.aria-label]="'remove ' + ext">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>

        <input placeholder="New fruit..." [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)" />
      </mat-chip-grid>
    </mat-form-field>

    <!-- Lista de Resultados -->
    <ul>
      <mat-list-item *ngFor="let result of searchResults;  let i = index" class="list-group-item">

        {{i + 1}}. <a [href]="getFileUrl(result.file)" target="_blank">{{ result.file }}</a>, LINEA {{result.line}},
        COLUMNA: {{result.column}}
        <div [innerHTML]="result.highlightedRow"></div>
        <p>(Ocurrencias en el archivo: {{result.occurrencesInFile}}) <br></p>

         <button mat-raised-button color="primary" (click)="searchRecursively(result)">searchRecursively</button>

         <button mat-raised-button color="primary" (click)="loadNextLevel(result)" *ngIf="result.showNextLevelButton">
          Cargar Siguiente Nivel
        </button>

        <!-- Mostrar resultados anidados si existen -->
        <ul *ngIf="result.children && result.children.length > 0">
          <li *ngFor="let childResult of result.children">

            {{childResult.index}}. <a [href]="getFileUrl(childResult.file)" target="_blank">{{ childResult.file }}</a>,
            LINEA {{childResult.line}}, COLUMNA: {{childResult.column}}
            <div [innerHTML]="childResult.highlightedRow"></div>
            <p>(Ocurrencias en el archivo: {{childResult.occurrencesInFile}}) <br></p>

            <!-- Mostrar subresultados anidados si existen -->
            <ul *ngIf="childResult.children && childResult.children.length > 0">
              <li *ngFor="let subResult of childResult.children">

                {{subResult.index}}. <a [href]="getFileUrl(subResult.file)" target="_blank">{{ subResult.file }}</a>,
                LINEA {{subResult.line}}, COLUMNA: {{subResult.column}}
                <div [innerHTML]="subResult.highlightedRow"></div>
                <p>(Ocurrencias en el archivo: {{subResult.occurrencesInFile}}) <br></p>

                <!-- Mostrar subresultados adicionales si existen -->
                <ul *ngIf="subResult.children && subResult.children.length > 0">
                  <li *ngFor="let additionalResult of subResult.children">
                    {{additionalResult.index}}. <a [href]="getFileUrl(additionalResult.file)" target="_blank">{{
                      additionalResult.file }}</a>,
                    LINEA {{additionalResult.line}}, COLUMNA: {{additionalResult.column}}

                    <div [innerHTML]="additionalResult.highlightedRow"></div>
                    <p>(Ocurrencias en el archivo: {{additionalResult.occurrencesInFile}}) <br></p>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </mat-list-item>
    </ul>


  </div>
</div>
